@font-face {
  font-family: 'Gilroy';
  src: 
      url('937085-device-24/fonts/gilroylight.woff')  format('woff'),
      url('937085-device-24/fonts/gilroylight.woff2')  format('woff2');
  font-weight: 300;              
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: 
      url('937085-device-24/fonts/opensans.woff')  format('woff'),
      url('937085-device-24/fonts/opensans.woff2')  format('woff2');
  font-weight: 300;              
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy - Extra Bold';
  src: 
      url('937085-device-24/fonts/gilroyextrabold.woff')  format('woff'),
      url('937085-device-24/fonts/gilroyextrabold.woff2')  format('woff2');
  font-weight: 300;              
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}
a{
  text-decoration: none;
}
.main-header{
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px;
  background-color: #f8e296;
}
.main-navigation ul{
  list-style:none;

}
.main-navigation a{
  color: #000000;
}
.catalog-menu{

}
.user-navigation{
  list-style: none;
}
.compare-basket,
.user-navigatiom,
.site-navigation{
  list-style: none;
}
.main-header{
  background-color:#f8e296;
}
.main-navigation a:hover,
.main-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus,
.compare-basket a:hover,
.compare-basket a:focus{
  color:#635a3c;
}

.catalog li:hover + .menu-items { 
  display: block;
}
.menu-items{
  display: none;
}
.about-us{
color: #777777;
font-size: 15px;
line-height: 30px;
}
.about-us h2{
  font-size: 47px;
  line-height: 48px;
  color:#000000;
}
.companies{
  list-style:none;
}
.contacts p{
  color: #777777;
  font-size: 15px;
  line-height: 30px;
  font-weight: 100;
}
.contacts h2{
  font-size: 47px;
  line-height: 48px;
  color:#000000;
}
.main-footer{
  background-color: #464646;
}
.about-us-form{
  display:none;
}
.main-footer a{
  color:#ffffff;
}
.footer-social{
  display: none;
}
.footer-adres{
  color:#ffffff;
  font-family: "OpenSans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
.search-header{
  width: 108px;
  height: 15px;
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
.number-phone{
  color:#ffffff;
  font-family: "OpenSans";
  font-size: 15px;
  font-weight: 100;
  line-height: 30px;
}
 p{
  font-size: 15px;
  font-weight: normal;

}
.about-us ul{
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-weight: 900;
  font-size: 21px;
}
.main-container a{
  position: relative;
  font-family: inherit;
  color: inherit;
  font-size: 15px;
  line-height: 20px;
  padding: 0;
  border: 0;
  background-color: transparent;
}